@font-face {
    font-family: 'Pokemon-Hollow';
    src: url('../assets/fonts/Pokemon_Hollow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pokemon-Solid';
    src: url('../assets/fonts/Pokemon_Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #1b252f;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app{
    height: 100%;
}

.pokemon-font-hollow {
    font-family: 'Pokemon-Hollow', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.pokemon-font-solid {
    font-family: 'Pokemon-Solid', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.type {
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    margin: 0.2em;
    border: 2px solid white;
}

.normal {
    background-color: #ACAD99;
}
.fighting {
    background-color: #C45D4C;
}
.poison {
    background-color: #B369AF;
}
.ground {
    background-color: #CEB250;
}
.rock {
    background-color: #BAA85E;
}
.ghost {
    background-color: #816DB6;
}
.steel {
    background-color: #9FA9AF;
}
.fire {
    background-color: #E87A3D;
}
.water {
    background-color: #639CE4;
}
.grass {
    background-color: #82C95B;
}
.electric {
    background-color: #E7C536;
}
.psychic {
    background-color: #E96C95;
}
.ice {
    background-color: #81CFD7;
}
.dragon {
    background-color: #8572C8;
}
.dark {
    background-color: #79726B;
    color: #f9f9f9
}
.fairy {
    background-color: #E8B0EB;
}
.unknown {
    background-color: #9EB3C2;
    color: #02010A;
}
.shadow {
    background-color: #02010A;
    color: #f9f9f9;
}
.flying {
    background-color: #90AAD7;
}
.bug {
    background-color: #ACC23E;
}