@font-face {
    font-family: 'Pokemon-Hollow';
    src: url('../assets/fonts/Pokemon_Hollow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pokemon-Solid';
    src: url('../assets/fonts/Pokemon_Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #716f6f;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app{
    height: 100%;
}

.pokemon-font-hollow {
    font-family: 'Pokemon-Hollow', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

.pokemon-font-solid {
    font-family: 'Pokemon-Solid', sans-serif;
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}